<div class="sidebar-tags">
  <h4 class="sidebar-tags__title">Tags</h4>
  <ul class="sidebar-tags__list">
    {% for tag in page.tags %}
      {% assign tag_slug = tag | slugify %}
      {% assign tag_count = 0 %}
      {% for t in site.tags %}
        {% if t[0] == tag %}
          {% assign tag_count = t[1] | size %}
        {% endif %}
      {% endfor %}
      <li>
        <a href="{{ '/tags/#' | append: tag_slug | relative_url }}" class="sidebar-tags__link">
          {{ tag }}
          <span class="sidebar-tags__count">({{ tag_count }})</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
